
#root {
    /* display: inline-block; */
    justify-content: center;
}

.main-container {
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    /* padding: 2rem; */
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    margin-left: 50px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.intro-container {
    /* background-color: #2c2c2c; */
    height: auto;
    width: var(--content-width);
    padding: 5vh 0;
    margin: 0;
}

.intro-container > h1 {
    margin-bottom: 1em;
}

.intro-container > p {
    font-size: x-large;
}

.card-container, .contact-container {
    margin: 0;
    width: var(--content-width);
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 50px;
}

.card, .contact-card {
    font-size: 1rem;
    color: black;
    background-color: rgb(238, 238, 238);
    border-radius: var(--card-border-radius);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.contact-card {
    width: 300px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.card:hover, .contact-card:hover {
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: var(--box-shadow-wide);
}

.card > h3 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.2em;
    row-gap: 0.2em;
    justify-content: center;
    position: relative;
}

.tag {
    font-size: 12px;
    border-radius: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.checked {
    opacity: 1;
    transition: all 0.2s ease;
}

.unchecked {
    opacity: 0.3;
    transition: all 0.2s ease;
}

.unchecked:hover {
    opacity: 0.8;
}

.options {
    opacity: 1;
}

.colpal-container {
    /* height: 10vh; */
    /* width: 100em; */
    /* width: 50%; */
    gap: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.color-card {
    /* height: 10px;
    width: 10px; */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
}

.title-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.skill-container {
    width: var(--content-width);
}

.skill-filter, .skill-filter-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.skill-filter-options {
    padding-bottom: 12px;
}

.sidebar {
    float: left; 
    width: 46px;
    background-color: var(--clr-primary);
    border-radius: 8px;
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 10px;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
    transition: inherit;
}

.sidebar-icon {
    z-index: 3;
    color: var(--clr-bg);
    transition: inherit;
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
}

.skill-chart-container {
    height: 500px;
    display: grid;
    padding: 20px 0;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
    /* justify-content: space-between; */
}

.echarts-for-react  {
    background-color: var(--clr-light);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
}

.small-icon {
    font-size: inherit;
    padding-right: 2px;
}

.container-header {
    padding: 0;
    display: flex;
    gap: 30px;
}

.category {
    height: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: left;
    padding: 0;
}

.category-button {
    display: flex;
    flex-direction: column;
    justify-content: right;
    transition: all 0.2s ease;
}

.category-button > button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.category-button > button:focus,
.category-button > button:focus-visible {
    outline: 0px auto -webkit-focus-ring-color;
}

.category-button > button > h2 {
    margin: 0;
}

.div-box {
    height: 0px;
    width: 60%;
    background-color: var(--clr-accent);
    transform: translateX(80%);
    transition: inherit;
}

.div-box-checked {
    height: 4px;
    width: 60%;
    background-color: var(--clr-accent);
    transform: translateX(80%);
    transition: inherit;
}

.tip {
    color: var(--clr-muted);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tip > span {
    font-size: 16px;
}