#root {
    justify-content: center;
}

.main-container {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    display: flex;
    margin-left: 50px;
    gap: 40px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.intro-container {
    height: 100vh;
    max-width: 600px;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 25% 0;
    justify-content: center;
}

@media only screen and (max-width: 750px) {
    .intro-container {
        max-width: var(--content-width);
    }
}

.intro-container > p {
    font-size: medium;
    text-align: center;
}

.contacts {
    height: 100vh;
}

.card-container,
.work-experience-container {
    margin: 0;
    width: var(--content-width);
}

.card-container {
    min-height: 80vh;
}

.work-experience-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--level-1-gap);
}

.card-container {
    margin-bottom: 20px;
}

.experience-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.experience-title {
    gap: 0;
    display: flex;
    flex-direction: column;
}

.experience-title > h2,
h3 {
    margin: 0;
    padding-bottom: 0;
}

.experience-title > h3 {
    margin-top: 0;
    font-size: medium;
    font-style: italic;
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--level-1-gap);
    justify-content: center;
    padding-top: 50px;
}

.experience-header > h3 {
    font-size: medium;
}

.work-experience > ul {
    padding-left: 30px;
}

.work-experience > ul > li {
    list-style-position: outside;
    display: list-item;
}

.card,
.contact-card {
    color: var(--clr-fg);
    background-color: var(--clr-card);
    border-radius: var(--card-border-radius);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transition: all var(--transition-duration);
}

.contact-card {
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.contact-card img {
    height: 40px;
    background: none;
    box-shadow: none;
}

.card:hover,
.contact-card:hover {
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: var(--box-shadow-wide);
    transition: all var(--transition-duration);
}

.card > h3 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.2em;
    row-gap: 0.2em;
    justify-content: center;
    position: relative;
}

.tag {
    font-size: 12px;
    border-radius: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.checked {
    opacity: 1;
    transition: all 0.2s ease;
}

.unchecked {
    opacity: 0.3;
    transition: all 0.2s ease;
}

.unchecked:hover {
    opacity: 0.8;
}

.options {
    opacity: 1;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 3.2em;
    margin: 0;
}

.hero-subtitle {
    color: var(--clr-fg);
    font-size: large;
}

.skill-title {
    display: flex;
    gap: var(--level-2-gap);
}

.skill-container {
    width: var(--content-width);
    padding-top: 20px;
}

.skill-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--level-1-gap);
}

.skill-filter-container {
    display: flex;
    flex-direction: column;
    gap: var(--level-2-gap);
}

.skill-filter,
.skill-filter-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.sidebar-container {
    position: sticky;
    display: flex;
    float: left;
    width: 46px;
    flex-direction: column;
    top: 10px;
    left: 10px;
    gap: var(--level-1-gap);
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-primary);
    border-radius: 8px;
    text-align: center;
    padding: 20px 0;
    gap: var(--level-1-gap);
}

.sidebar:last-child {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-icon {
    z-index: 3;
    color: var(--clr-bg);
    transition: color var(--transition-duration);
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
}

.skill-chart-container {
    height: 500px;
    display: grid;
    gap: var(--level-1-gap);
    grid-template-columns: 3fr 1fr;
}

.echarts-for-react {
    background-color: var(--clr-card);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: background-color var(--transition-duration);
}

.skill-header {
    display: flex;
    gap: 30px;
}

.category {
    height: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: left;
    padding: 0;
}

.category-button {
    display: flex;
    flex-direction: column;
    justify-content: right;
    transition: all 0.2s ease-in-out;
}

.category-button > button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    transition: inherit;
}

.category-button > button:focus,
.category-button > button:focus-visible {
    outline: 0px auto -webkit-focus-ring-color;
}

.category-button > button > h1 {
    margin: 0;
}

.div-box {
    height: 0px;
    width: 60%;
    background-color: var(--clr-accent);
    transform: translateX(80%);
}

.div-box-checked {
    height: 4px;
    width: 60%;
    background-color: var(--clr-accent);
    transform: translateX(80%);
    transition: inherit;
}

.tooltip {
    color: var(--clr-accent);
    position: relative;
    display: inline-block;
    cursor: default;
}

.tooltip > u {
    text-decoration-style: dotted;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    padding: 0.25em 0.5em;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    text-align: center;
    border-radius: 0.25em;
    font-size: medium;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 100%;
    transition-property: visibility;
    transition-delay: 0s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    transition-delay: 0.3s;
}
